body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.hex-input,
.rgb-output {
  width: 300px; /* Фиксированная ширина окошек */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 10px 0; /* Отступ между окошками */
  box-sizing: border-box; /* Учитываем padding в ширине */
  text-align: center; /* Текст по центру */
}

.rgb-output {
  background-color: #f9f9f9; /* Светлый фон для RGB */
  cursor: not-allowed; /* Курсор "недоступно" */
}

.error {
  color: red;
}

/* Класс для изменения фона страницы */
.body-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Окошки друг под другом */
  justify-content: center;
  align-items: center;
}